* {
  margin: 0;
  padding: 0;
}

#menu{
  text-align: center;
}

#insert{
  display: none;
}

#loading{
  display: none;
}

#simulator_container{
  text-align: center;
  display: none;
}

#fastback{
  background-image: url('./FastBackward.png');
  background-size: 100% 100%;
}

#slowback{
  background-image: url('./PlayBack.png');
  background-size: 100% 100%;
}

#play{
  background-image: url('./Play.png');
  background-size: 100% 100%;
}

#pause{
  display: none;
  background-image: url('./Pause.png');
  background-size: 100% 100%;
}

#slowforward{
  background-image: url('./Play.png');
  background-size: 100% 100%;
}

#fastforward{
  background-image: url('./FastForward.png');
  background-size: 100% 100%;
}

#piece{
  text-align: center;
  width: 75%;
  height: 75%;
  display: inline-block;
}

.spot{
  width: 1%;
  height: 1%;
  display: inline-block;
}

.dark{
  background-color: darkgrey;
  border: solid medium darkgrey;
}

.light{
  background-color: lightgrey;
  border: solid medium lightgrey;

}

.special{
  border: solid medium red;
}
